<div id="claims">
  <% crew.claims.each do |claim| %>
    <div class="claim-container">
      <%= render CustomCheckboxComponent.new(model: claim, field: :claimed, checked: claim.claimed?, classes: 'claim-box')%>
      <div class="claim">
        <h2><%= claim.name %></h2>
        <p><%= claim.description %></p>
      </div>
      <div class="connector top <%= claim.top ? '' : 'disabled' %>">
      </div>
      <div class="connector right <%= claim.right ? '' : 'disabled' %>">
      </div>
      <div class="connector bottom <%= claim.bottom ? '' : 'disabled' %>">
      </div>
      <div class="connector left <%= claim.left ? '' : 'disabled' %>">
      </div>
    </div>
  <% end %>
</div>
