<%= turbo_frame_tag "crew" do %>
  <div class="crew-container" id="<%= dom_id crew %>">
    <div class="row initial">
      <div id="bio" class="cell col-1">
        <div class="upper">
          <h1 id="name"><%= crew.name %></h1>
          <label id="playbook_name">The <%= crew.playbook.name %> </label>
        </div>
        <div class="lower">
          <div id="heat">
            <h2>
              Heat
              <%= render(CustomCheckboxListComponent.new(
                field: :heat,
                model: crew,
                size: crew.max_heat,
                classes: "heat xp",
              ))%>
            </h2>
          </div>
          <div id="wanted_level">
            <h2> Wanted Level:
              <%= render(CustomCheckboxListComponent.new(
                field: :wanted_level,
                model: crew,
                size: 4,
                classes: "star",
              ))%>
            </h2>
          </div>
          <h2 id="hold">Hold: <%= crew.hold %></h2>
          <h2 id="tier">Tier: <%= crew.tier %></h2>
        </div>
      </div>
      <div id="info" class="cell col-1">
        <div class="upper">
        </div>
        <div class="lower">
          <div id="rep">
            <h2>
              Rep
                <%= render(CustomCheckboxListComponent.new(
                  field: :rep,
                  model: crew,
                  size: crew.max_rep,
                  classes: "rep xp",
                ))%>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cell col-4">
        <%= render 'crews/claims', crew: %>
        <%= render 'shared/contacts', source: crew %>
      </div>
      <div class="cell col-4">
        <div class="info-cell inverted">
          <h2>Reputation: <%= crew.reputation %> </h2>
          <p><%= crew.reputation_description%></p>
        </div>
        <div class="info-cell inverted">
          <h2>Method: <%= crew.hunting_ground %> </h2>
          <p><%= crew.hunting_ground_description%></p>
        </div>
        <div class="info-cell inverted">
          <h2>Lair: <%= crew.lair %> </h2>
          <p><%= crew.lair_description%></p>
        </div>
        <%= render "shared/special_abilities", source: crew %>
      </div>
      <div class="cell col-2">
        <div class="info-cell">
          <h2>Players</h2>
          <% crew.player_characters.each do |pc| %>
            <%= link_to "#{pc.name}, the #{pc.playbook.name}", player_character_path(pc), data: {turbo: false } %>
          <% end %>
        </div>

        <div class="info-cell inverted">
          <h2>Upgrades</h2>
          <%= render "crews/upgrades", crew: %>
        </div>

        <div class="info-cell inverted">
          <h2>Coin</h2>
          <%= render "shared/coin", source: crew %>
        </div>

        <div class="info-cell inverted">
          <h2>Vault</h2>
          <%= render "crews/vault", crew: %>
        </div>
      </div>
    </div>
  </div>

<% end %>
