<div class="playbook-info-container">
  <div class="name">
    <%= player_character.playbook.name %>
  </div>
  <div class="description">
    <%= player_character.playbook.description %>
  </div>
</div>
<label class="full-width-label inverted">Special Abilities</label>
<div class="special_abilities-container">
  <% player_character.special_abilities.each do |ability| %>
    <div class="special_ability-row">
      <div class="cost">
        <% ability.cost.times do |i| %>
          <% checked = i + 1<= ability.points %>
          <% value = ability.points === i + 1 ? i : i + 1 %>
          <%= render 'shared/input_box',
                  field: :points,
                  model: [player_character.game, player_character, ability],
                  value:,
                  checked:,
                  classes: "special_ability-box"
                %>
        <% end %>
      </div>
      <div class="description">
        <span>
          <%= ability.name %>:
        </span>
        <%= ability.description %>
      </div>
    </div>
  <% end %>
</div>
<div class="contacts-and-items-row">
  <div class="contacts-container">
    <label class="full-width-label inverted">
      Contacts
    </label>
    <% player_character.contacts.each do |contact| %>
      <div class="contact-row">
        <%= render 'shared/input_box',
                model: [player_character.game, player_character, contact],
                field: :friend,
                checked: contact.friend,
                activeTag: 'F',
                classes: contact.friend ? 'friend' : ''
              %>
        <%= render 'shared/input_box',
                model: [player_character.game, player_character, contact],
                field: :rival,
                activeTag: 'R',
                checked: contact.rival,
                classes: contact.rival ? 'rival' : ''
              %>
        <label>
          <%= contact.name %> the <%= contact.job %>
        </label>
      </div>
    <% end %>
  </div>
  <div class="playbook-items-container">
    <label class="full-width-label inverted">
      Items
    </label>
    <% player_character.items.playbook.each do |item| %>
      <div class="items-row">
        <div class="items-boxes">
          <% item.cost.times do %>
            <%= render 'shared/input_box',
                model: [player_character.game, player_character, item],
                field: :loaded,
                checked: item.loaded
              %>
          <% end %>
        </div>
        <label class="<%= item.intrinsic ? 'intrinsic' : '' %>" > <%= item.name %> </label>
      </div>
    <% end %>
  </div>
</div>
