<div class="playbook-row">
  <p>
    <strong>Crew:</strong>
    <%= @game.name %>
  </p>
</div>

<div class="playbook-row">
  <%= render "shared/input_field", player_character:, field: :name, label: "Name" %>
  <%= render "shared/input_field", player_character:, field: :nickname, label: "Alias" %>
</div>

<div class="playbook-row">
  <%= render "shared/input_field", player_character:, field: :look, label: "Look" %>
</div>

<div class="playbook-row">
  <%= render "shared/input_field",
    player_character:,
    field: :heritage_description,
    label: 'Heritage',
    select_field: :heritage,
    collection: PlayerCharacter.heritages.keys
  %>
  <%= render "shared/input_field",
    player_character:,
    field: :background_description,
    label: 'Background',
    select_field: :background,
    collection: PlayerCharacter.backgrounds.keys
  %>
</div>

<div class="playbook-row">
  <%= render "shared/input_field",
    player_character:,
    field: :vice_description,
    label: 'Vice/Purveyor',
    select_field: :vice,
    collection: PlayerCharacter.vices.keys
  %>
</div>
