<div id="items">
  <span>Load: <%= player_character.load.titleize %> (<%= player_character.load_capacity %>) </span>
  <span>Available Capacity: <%= player_character.load_remaining %></span>
  <div class="playbook">
    <% player_character.items.playbook.each do |item| %>
      <div class="items-row">
        <div class="items-boxes">
          <%= render(
            CustomCheckboxListComponent.new(
              size: item.cost,
              model: [player_character, item],
              field: :loaded,
              checked: item.loaded,
              disabled: item.intrinsic? || !item.loaded && item.cost > player_character.load_remaining,
              classes: "item-box"
            )
          ) %>
        </div>
        <label class="<%= item.intrinsic ? 'intrinsic' : '' %>" > <%= item.name %> </label>
      </div>
    <% end %>
  </div>
  <div class="default">
    <% player_character.items.default.each do |item| %>
      <div class="items-row">
        <div class="items-boxes">
          <%= render(
            CustomCheckboxListComponent.new(
              size: item.cost,
              model: [player_character, item],
              field: :loaded,
              checked: item.loaded,
              disabled: item.intrinsic? || !item.loaded && item.cost > player_character.load_remaining,
              classes: "item-box"
            )
          ) %>
        </div>
        <label class="<%= item.intrinsic ? 'intrinsic' : '' %>" > <%= item.name %> </label>
      </div>
    <% end %>
  </div>
</div>
