<%= turbo_frame_tag "player-character-frame" do %>
  <div class="player-character" id="<%= dom_id player_character %>">
    <div id="details">
      <%= render 'player_characters/detail', player_character:, game: %>
    </div>
    <div id="playbook">
      <%= render 'player_characters/playbook', player_character:, game: %>
    </div>
    <div id="stats">
      <%= render 'player_characters/stats', player_character:, game: %>
    </div>
  </div>
<% end %>
