<%= turbo_frame_tag "player-character-frame" do %>
  <div class="player-character" id="<%= dom_id player_character %>">
    <div id="details">
      <%= render 'player_characters/detail', player_character:, game: %>
    </div>
    <div id="playbook">
      <div class="playbook-details-container">
        <div class="name">
          <%= player_character.playbook.name %>
        </div>
        <div class="description">
          <%= player_character.playbook.description %>
        </div>
      </div>
      <label class="full-width-label inverted">Special Abilities</label>
      <div class="special_abilities-container">
        <% player_character.special_abilities.each do |ability| %>
          <div class="special_ability-row">
            <div class="cost">
              <% ability.cost.times do |i| %>
                <% checked = i + 1<= ability.points %>
                <% value = ability.points === i + 1 ? i : i + 1 %>
                <%= render 'shared/input_box',
                  field: :points,
                  model: [game, player_character, ability],
                  value:,
                  checked:,
                  classes: "special_ability-box"
                %>
              <% end %>
            </div>
            <div class="description">
              <span>
                <%= ability.name %>:
              </span>
              <%= ability.description %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="contacts-and-items-row">
        <% player_character.contacts.each do |contact| %>
          <p>
            Name: <%= contact.name %>
            rival: <%= contact.rival %>
            friend: <%= contact.friend %>
          </p>
        <% end %>
        <strong>Playbook items </strong>
        <%= player_character.items.where(playbook_id: player_character.playbook ).count %>
        <% player_character.items.where(playbook_id: player_character.playbook ).each do |item| %>
          <p>
            Name: <%= item.name %>
            cost: <%= item.cost %>
            points: <%= item.points %>
            intrinsic: <%= item.intrinsic %>
          </p>
        <% end %>
      </div>
    </div>
    <div id="stats">
      <p>
        <strong>Coin:</strong>
        <%= player_character.coin %>
      </p>
      <p>
        <strong>Stash:</strong>
        <%= player_character.stash %>
      </p>
      <p>
        <strong>Insight:</strong>
        XP: <%= player_character.insight_xp %>
        hunt: <%= player_character.hunt %>
        study: <%= player_character.study %>
        survey: <%= player_character.survey %>
        tinker: <%= player_character.tinker %>
      </p>
      <p>
        <strong>Prowess:</strong>
        XP: <%= player_character.prowess_xp %>
        finesse: <%= player_character.finesse %>
        prowl: <%= player_character.prowl %>
        skirmish: <%= player_character.skirmish %>
        wreck: <%= player_character.wreck %>
      </p>
      <p>
        <strong>Resolve:</strong>
        XP: <%= player_character.resolve_xp %>
        attune: <%= player_character.attune %>
        command: <%= player_character.command %>
        consort: <%= player_character.consort %>
        sway: <%= player_character.sway %>
      </p>
      <p>
        <strong>Default items </strong>
        <%= player_character.items.where(playbook_id: nil ).count %>
        <% player_character.items.where(playbook_id: nil ).each do |item| %>
          <p>
            Name: <%= item.name %>
            cost: <%= item.cost %>
            points: <%= item.points %>
          </p>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
