  <div class="player-character-container" id="<%= dom_id player_character %>">
    <div class="notch">
      hello
    </div>
    <div class="row initial">
      <div id="bio">
        <div class="upper">
          <h1 id="nickname"><%= player_character.nickname %></h1>
          <div id="id">
            <span id="name"><%= player_character.name %></span>
            <span>•</span>
            <span id="playbook_name">The <%= player_character.playbook.name %></span>
          </div>
          <div id="traumas">
            <div class="trauma">COLD</div>
            <div class="trauma">OBSESSED</div>
            <div class="trauma">SOFT</div>
            <div class="trauma">PARANOID</div>
          </div>
        </div>
      </div>
      <div id="damageables">
        <div id="harm">
          <label>Harm</label>
          <div class="harm-row">
            <div>3</div>
            <%- level_3_harm = player_character.harms.find_by(level: 3) %>
            <div class="harm">Busted Ass</div>
            <div>Need Help</div>
          </div>
          <div class="harm-row">
            <div>2</div>
              <div class="harm">Foo</div>
            <% player_character.harms.where(level: 2).each do |level_2_harm| %>
            <% end %>
            <div>-1D</div>
          </div>
          <div class="harm-row disabled">
            <div>1</div>
              <div class="harm"></div>
            <% player_character.harms.where(level: 1).each do |level_1_harm| %>
            <% end %>
            <div>Less Effect</div>
          </div>
        </div>
        <div class="lower">
          <div id="stress">
            <%- 9.times do |i| %>
              <% checked = i + 1<= player_character.stress %>
              <% value = checked ? i :  i + 1 %>
              <%= render 'shared/input_box',
                field: :stress,
                model: player_character,
                value:,
                checked:,
                classes: "xp",
                hoverText: "Set stress to #{i + 1}"
              %>
            <% end %>
          </div>

          <div id="healing-clock">
            <%- 4.times do |i| %>
              <% checked = i + 1<= player_character.healing_clock %>
              <% value = checked ? i :  i + 1 %>
              <%= render 'shared/input_box',
                        field: :healing_clock,
                        model: player_character,
                        value:,
                        checked:,
                        classes: "xp"
                      %>
            <% end %>
          </div>

        </div>
      </div>
      <div id="armor">
        <label> Armor </label>
        <%[:special, :heavy, :armor].each do |armor| %>
          <%= render 'shared/input_box',
                field: armor,
                model: player_character,
                checked: player_character.send(armor),
                classes: "armor #{armor}-box"
              %>
        <% end %>
      </div>
      <div id="stats">
          <% PlayerCharacter::STATS.keys.each do |stat_category| %>
            <%= render 'stat_block', player_character:, stat_category:  %>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div id="bio-info">
        <div class="bio">
          <h2>Look</h2>
          <p> <%= player_character.look %></p>
        </div>
        <div class="bio">
          <h2>Heritage</h2>
          <span><%= player_character.heritage %></span>
          <p> <%= player_character.heritage_description %></p>
        </div>
        <div class="bio">
          <h2>Background</h2>
          <span><%= player_character.background %></span>
          <p><%= player_character.background_description %></p>
        </div>
        <div class="bio">
          <h2>Vice</h2>
          <span><%= player_character.vice %></span>
          <p><%= player_character.vice_description %></p>
        </div>
      </div>

      <div id="contacts">
        <div class="friends">
          <label>Friends</lable>
          <% player_character.friends.each do |contact| %>
            <div class="contact">
              <div class="contact-name"><%= contact.name %></div>
              <div class="contact-description"><%= contact.job %></div>
            </div>
          <% end %>
        </div>
        <div class="rivals">
          <label>rivals</lable>
          <% player_character.rivals.each do |contact| %>
            <div class="contact">
              <div class="contact-name"><%= contact.name %></div>
              <div class="contact-description"><%= contact.job %></div>
            </div>
          <% end %>
        </div>
        <% player_character.contacts.each do |contact| %>
          <div class="contact">
            <div class="contact-name"><%= contact.name %></div>
            <div class="contact-description"><%= contact.job %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
