  <div class="player-character-container" id="<%= dom_id player_character %>">
    <div class="notch">
      hello
    </div>
    <div class="row initial">
      <div id="bio">
        <div class="upper">
          <h1><%= player_character.nickname %></h1>
        </div>
        <div class="lower">
          <span><%= player_character.name %></span>
          <span>•</span>
          <span>The <%= player_character.playbook.name %></span>
        </div>
      </div>
      <div id="stats">
          <% PlayerCharacter::STATS.keys.each do |stat_category| %>
            <%= render 'stat_block', player_character:, stat_category:  %>
          <% end %>
      </div>
      <div id="stress">
        <div class="upper">
          <div class="harm-row">
            <div>3</div>
            <%- level_3_harm = player_character.harms.find_by(level: 3) %>
            <div class="harm">Busted Ass</div>
            <div>Need Help</div>
          </div>
          <div class="harm-row">
            <div>2</div>
              <div class="harm">Foo</div>
            <% player_character.harms.where(level: 2).each do |level_2_harm| %>
            <% end %>
            <div>-1D</div>
          </div>
          <div class="harm-row disabled">
            <div>1</div>
              <div class="harm"></div>
            <% player_character.harms.where(level: 1).each do |level_1_harm| %>
            <% end %>
            <div>Less Effect</div>
          </div>
        </div>
        <div class="lower">
          <div class="stress-row">
            <%- 9.times do |i| %>
              <% checked = i + 1<= player_character.stress %>
              <% value = checked ? i :  i + 1 %>
              <%= render 'shared/input_box',
                field: :stress,
                model: player_character,
                value:,
                checked:,
                classes: "stress #{checked ? 'active' : ''}",
                hoverText: "Set stress to #{i + 1}"
              %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="bio-info">
        <div class="bio">
          <h2>Look</h2>
          <p> <%= player_character.look %></p>
        </div>
        <div class="bio">
          <h2>Heritage</h2>
          <p><%= player_character.heritage %></p>
          <p> <%= player_character.heritage_description %></p>
        </div>
        <div class="bio">
          <h2>Background</h2>
          <p><%= player_character.background %></p>
          <p> <%= player_character.background_description %></p>
        </div>
        <div class="bio">
          <h2>Vice</h2>
          <p><%= player_character.vice %></p>
          <p> <%= player_character.vice_description %></p>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
