<%= turbo_frame_tag "player-character-frame" do %>
  <div class="player-character" id="<%= dom_id player_character %>">
    <div id="details">
      <%= render 'player_characters/detail', player_character:, game: %>
    </div>
    <div id="playbook">
      <%= render 'player_characters/playbook', player_character:, game: %>
    </div>
    <div id="stats">
      <p>
        <strong>Coin:</strong>
        <%= player_character.coin %>
      </p>
      <p>
        <strong>Stash:</strong>
        <%= player_character.stash %>
      </p>
      <p>
        <strong>Insight:</strong>
        XP: <%= player_character.insight_xp %>
        hunt: <%= player_character.hunt %>
        study: <%= player_character.study %>
        survey: <%= player_character.survey %>
        tinker: <%= player_character.tinker %>
      </p>
      <p>
        <strong>Prowess:</strong>
        XP: <%= player_character.prowess_xp %>
        finesse: <%= player_character.finesse %>
        prowl: <%= player_character.prowl %>
        skirmish: <%= player_character.skirmish %>
        wreck: <%= player_character.wreck %>
      </p>
      <p>
        <strong>Resolve:</strong>
        XP: <%= player_character.resolve_xp %>
        attune: <%= player_character.attune %>
        command: <%= player_character.command %>
        consort: <%= player_character.consort %>
        sway: <%= player_character.sway %>
      </p>
      <p>
        <strong>Default items </strong>
        <%= player_character.items.where(playbook_id: nil ).count %>
        <% player_character.items.where(playbook_id: nil ).each do |item| %>
          <p>
            Name: <%= item.name %>
            cost: <%= item.cost %>
            loaded: <%= item.loaded %>
          </p>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
