<%= turbo_frame_tag "player_character" do %>
  <div class="player-character-container" id="<%= dom_id player_character %>">
    <div class="row initial">
      <div id="bio" class="cell col-1 order-1">
        <div class="upper">
          <h2 id="name"><%= player_character.name %>, A.K.A.:</h2>
          <h1 id="nickname"><%= player_character.nickname %></h1>
          <label id="playbook_name">The <%= player_character.playbook.name %></label>
          <%= render "player_characters/traumas", player_character: %>
        </div>
      </div>
      <div id="damageables" class="cell col-2 order-3 desk-order-2">
        <%= render "player_characters/harm_block", harms: player_character.harms %>
        <div class="lower">
          <%= render "player_characters/stress", player_character: %>
          <%= render "player_characters/healing_clock", player_character: %>
        </div>
      </div>
      <div class="cell order-2 desk-order-3">
        <%= render "player_characters/armor", player_character: %>
      </div>
      <div class="cell col-2 order-4">
        <%= render "player_characters/stats", player_character: %>
      </div>
    </div>
    <div class="row">
      <div id="info" class="cell col-2 order-2 desk-order-1">

        <div id="player-crew" class="info-cell">
          <h2>Crew</h2>
          <%= link_to player_character.crew.name, crew_path(player_character.crew),  data: {turbo: false} %>
        </div>
          <div class="info-cell inverted">
          <h2>Look</h2>
          <p> <%= player_character.look %></p>
        </div>
        <div class="info-cell inverted">
          <h2>Heritage: <%= player_character.heritage %></h2>
          <p> <%= player_character.heritage_description %></p>
        </div>
        <div class="info-cell inverted">
          <h2>Background: <%= player_character.background %></h2>
          <p><%= player_character.background_description %></p>
        </div>
        <div class="info-cell inverted">
          <h2>Vice: <%= player_character.vice %></h2>
          <p><%= player_character.vice_description %></p>
        </div>
        <%= render 'shared/contacts', source: player_character %>
      </div>
      <div class="cell col-4 order-1 desk-order-2">
        <%= render "shared/special_abilities", source: player_character %>
      </div>
      <div class="cell col-1 order-3">
        <div class="info-cell">
          <h2>items</h2>
          <%= render "player_characters/items", player_character: %>
        </div>
      </div>
      <div class="cell col-1 order-4">
        <div class="info-cell">
          <h2>Xp Triggers</h2>
          <ul>
            <li>You addressed a challenge with <%= player_character.playbook.xp_triggers.join(' or ') %>.</li>
            <li>You expressed your beliefs, drives, heritage, or background.</li>
            <li>You struggled with issues from your vice or traumas during the session.</li>
          </ul>
        </div>
        <div class="info-cell inverted">
          <h2>Coin </h2>
          <%= render "shared/coin", source: player_character %>
        </div>
        <div class="info-cell inverted">
          <h2>Stash</h2>
          <%= render "player_characters/stash", player_character: %>
        </div>
      </div>
    </div>
  </div>
<% end %>
