<div class="player-character-container" id="<%= dom_id player_character %>">
  <div class="notch">
    hello
  </div>
  <div class="row initial">
    <div id="bio" class="cell col-1">
      <div class="upper">
        <label id="playbook_name">The <%= player_character.playbook.name %></label>
        <h1 id="nickname"><%= player_character.nickname %></h1>
        <h2 id="name"><%= player_character.name %></h2>
        <%= render "player_characters/traumas", player_character: %>
      </div>
    </div>
    <div id="damageables" class="cell col-3">
      <%= render "player_characters/harm_block", harms: player_character.harms %>
      <div class="lower">
        <%= render "player_characters/stress", player_character: %>
        <%= render "player_characters/healing_clock", player_character: %>
      </div>
    </div>
    <%= render "player_characters/armor", player_character: %>
    <%= render "player_characters/stats", player_character: %>
  </div>
  <div class="row">
    <div id="bio-info" class="cell col-2">
      <div class="info-cell">
        <h2>Look</h2>
        <p> <%= player_character.look %></p>
      </div>
      <div class="info-cell">
        <h2>Heritage</h2>
        <span><%= player_character.heritage %></span>
        <p> <%= player_character.heritage_description %></p>
      </div>
      <div class="info-cell">
        <h2>Background</h2>
        <span><%= player_character.background %></span>
        <p><%= player_character.background_description %></p>
      </div>
      <div class="info-cell">
        <h2>Vice</h2>
        <span><%= player_character.vice %></span>
        <p><%= player_character.vice_description %></p>
      </div>
    </div>
    <%= render "player_characters/playbook_abilities", player_character: %>
    <div id="items" class="cell col-1">
      <div class="info-cell">
        <h2> Items</h2>
      </div>
    </div>
    <div class="cell col-1">
      <div id="contacts" >
        <div id="friends" class="info-cell">
          <h2>Friends</h2>
          <% player_character.friends.each do |contact| %>
            <div class="contact">
              <span class="contact-name"><%= contact.name %></span>
              <div class="contact-job">The <%= contact.job.capitalize %></div>
            </div>
          <% end %>
        </div>
        <div id="rivals" class="info-cell">
          <h2>rivals</h2>
          <% player_character.rivals.each do |contact| %>
            <div class="contact">
              <span class="contact-name"><%= contact.name %></span>
              <div class="contact-job">The <%= contact.job.capitalize %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="cell col-1">
      <div class="info-cell">
        <h2>Coin </h2>
        <%= render "player_characters/coin", player_character: %>
      </div>
      <div class="info-cell">
        <h2>Stash</h2>
        <%= render "player_characters/stash", player_character: %>
      </div>
    </div>
  </div>
</div>
