<div id="special-abilities">
  <div class="info-cell">
    <h2>Special Abilities
      <div class="xp-row">
        <%= render(
          CustomCheckboxListComponent.new(
            size: 8,
            model: player_character,
            field: :playbook_xp,
            classes: "xp"
          )
        ) %>
      </div>
    </h2>
  </div>
  <% player_character.special_abilities.active.each do |ability|%>
    <div class="info-cell">
      <h2>
        <%= ability.name %>
        <div class="ability-boxes">
          <%= render(
            CustomCheckboxListComponent.new(
              size: ability.cost,
              field: :points,
              model: ability,
              classes: "ability-box"
            )
          ) %>
        </div>
      </h2>
      <p><%= ability.description %></p>
    </div>
  <%end %>
  <div class="info-cell inverted">
    <h2> inactive Special Abilities </h2>
  </div>
  <div class="inactive">
    <% player_character.special_abilities.inactive.each do |ability|%>
      <div class="info-cell inverted">
        <h2>
          <%= ability.name %>
          <div class="ability-boxes">
            <%= render(
              CustomCheckboxListComponent.new(
                size: ability.cost,
                field: :points,
                model: ability,
                classes: "ability-box"
              )
            ) %>
          </div>
        </h2>
        <p><%= ability.description %></p>
      </div>
    <%end %>
  </div>
</div>
